
  <footer>
    <div class="f-info">
      <div class="f-social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
     </div>
     <div class="wander">&copy;Wanderlust Private Limited</div>
     <br>
      <div class="f-info-link">
     <a href="priv">privacy </a>
     <a href="/term">terms</a>
     </div>
    </div>
</footer>

